@import "../../../styles/mixins";
@import "../../../styles/vars";

.statusCounter {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: space-around;
  align-items: center;

  @include lgScreenMedia {
    grid-template-columns: repeat(2, 1fr);
  }

  &__column {
    @include flexCol();
    flex-direction: column;
    gap: 5px;

    &_textWhite {
      color: $color-white;
    }

    &_textSecondary {
      color: $color-secondary;
    }
  }

  &__digit {
    font-size: 76px;
  }
}
