@import "../../../styles/mixins";
@import "../../../styles/vars";

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  // @include flexCol(space-between, center);
  transition: $transition;
  background-color: $color-lightGrey;
  padding: 1.5rem;

  @include mdScreenMedia {
    padding: 1rem;
  }

  &__test {
    @include flexCol(space-between, center);
  }

  &__logo {
    max-width: 25%;

    // @include lgScreenMedia {
    //   width: 65px;
    // }

    // @include smScreenMedia {
    //   width: 48px;
    // }
  }
}
