@import "../../../styles/mixins";
@import "../../../styles/vars";

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  @include flexCol(space-between, center);
  transition: $transition;
  background-color: $color-lightGrey;
  padding: 32px 4.5rem 15px;

  @include lgScreenMedia {
    padding: 20px 0;
  }

  @include smScreenMedia {
    padding: 15px 0;
  }

  &__logo {
    width: 110px;
    border: none;

    @include lgScreenMedia {
      width: 65px;
    }

    @include smScreenMedia {
      width: 48px;
    }
  }
}
