@import "../../../styles/mixins";
@import "../../../styles/vars";

.accordion {
  display: flex;
  flex-direction: column;
  gap: 15px;

  &__item {
    background-color: $color-white;
    border-radius: 24px;
    cursor: pointer;
  }

  &__header {
    display: flex;
    font-size: 1.1rem;
    padding: 1rem;
    align-items: center;
  }

  &__title {
    flex-grow: 1;
  }

  &__toggle {
    font-size: 1.5rem;
    margin-left: 20px;
    display: inline-block;
    transition: transform 0.3s ease;
  }

  &__rotate {
    transform: rotate(180deg);
  }

  &__content {
    font-size: 1rem;
    line-height: 1.5;
    padding: 0 1rem 1rem;
  }
}
