@import "../../../styles/mixins";
@import "../../../styles/vars";

.accordion {
  display: flex;
  flex-direction: column;
  gap: 15px;

  &__item {
    background-color: $color-white;
    border-radius: 24px;
    transition: transform 0.3s ease;
    cursor: pointer;

    &:hover {
      background-color: #c7c7c733;
      transition: background-color 0.45s;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
    padding: 1rem;
  }

  &__title {
  }

  &__toggle {
    min-width: 20px;
    min-height: 20px;
    width: 20px;
    height: 20px;
    @include flexCol();
    position: relative;
    margin-left: 20px;
  }

  &__line {
    position: absolute;
    background-color: $color-secondary;
    transition: transform 0.3s ease;
  }

  &__horizontal {
    @extend .accordion__line;
    width: inherit;
    height: 2px;
  }

  &__vertical {
    @extend .accordion__line;
    width: 2px;
    height: 100%;
  }

  &__rotate {
    transform: rotate(-90deg); // rotates vertical line out of sight
  }

  &__content {
    overflow: hidden;
    max-height: 0;
    padding: 0 1rem; // keep horizontal padding always
    transition: max-height 0.4s linear, padding-top 0.4s linear,
      padding-bottom 0.4s linear;
  }

  &__contentOpen {
    max-height: 300px; // or larger than your content
    padding-top: 0.5rem;
    padding-bottom: 1rem;
  }
}
