@import "../../../styles/mixins";
@import "../../../styles/vars";

.accordion {
  &__header {
    background: none;
    border: none;
    padding: 1rem;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
  }

  &__title {
    flex-grow: 1;
  }

  &__toggle {
    font-size: 1.5rem;
    margin-left: 1rem;
    transition: transform 0.3s ease;
  }

  &__content {
    padding: 0 1rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
  }
}
