@import "../../../styles/mixins";
@import "../../../styles/vars";

.sectionTitle {
  @include flexCol(start);
  display: flex;
  gap: 7px;

  @include lgScreenMedia {
    justify-content: center;
  }

  &__iconWrapper {
    @include flexCol();
    width: 35px;
    height: 35px;
    background-color: $color-primary;
    border-radius: 50px;
  }

  &__icon {
    width: 20px;
    height: 20px;
  }

  &__text {
    @include setFont(14px, 400);
    text-transform: uppercase;

    // &.sectionTitle__text_white {
    //   color: $color-white;
    // }

    // &.sectionTitle__text {
    //   &_white {
    //     color: $color-white;
    //   }
    // }
  }

  &__textWhite {
    color: $color-white;
  }
}
