@import "../../../styles/mixins";
@import "../../../styles/vars";

.sectionTitle {
  @include flexCol(start);
  display: flex;
  gap: 5px;

  @include lgScreenMedia {
    justify-content: center;
  }

  &__iconWrapper {
    @include flexCol();
    width: 35px;
    height: 35px;
    background-color: $color-primary;
    border-radius: 50px;
  }

  &__icon {
    width: 20px;
    height: 20px;
  }

  &__titleText {
    @include setFont(14px, 400, $color-secondary);
    text-transform: uppercase;
  }
}
