@import "../../../styles/mixins";
@import "../../../styles/vars";

.sectionTitle {
  display: flex;
  align-items: center;
  gap: 7px;

  &__iconWrapper {
    @include flexCol();
    width: 35px;
    height: 35px;
    background-color: $color-primary;
    border-radius: 50%;
  }

  &__icon {
    @include svg(20px, $color-secondary);
  }

  &__text {
    @include setFont(14px, 400);
    text-transform: uppercase;

    &_white {
      color: $color-white;
    }
  }
}
