@import "../../../../styles/mixins";
@import "../../../../styles/vars";

.blogSingle {
  position: relative;
  padding-inline: 10%;

  &__back {
    position: absolute;
    top: 20px;
    left: 30px;

    @include lgScreenMedia {
      top: 10px;
      left: 20px;
    }
  }

  &__header {
    @include flexCol();
    flex-direction: column;
    gap: 1vw;
    text-align: center;
    margin-top: 65px;
  }

  &__category {
    color: $color-secondary;
    background-color: $color-primary;
    text-transform: uppercase;
    text-align: center;
    border-radius: 24px;
    padding: 7px 12px;
  }

  &__title {
    @include setFont(2.5rem, 500);
    letter-spacing: -0.0625rem;

    @include lgScreenMedia {
      font-size: 1.5rem;
    }

    @include smScreenMedia {
      font-size: 1.2rem;
    }

    @include xsmScreenMedia {
      font-size: 1rem;
    }
  }

  &__avatar {
    width: 60px;
    height: 60px;
    border-radius: 100%;
  }

  &__authorName {
    color: $color-secondary;
    text-transform: uppercase;
  }

  &__date {
    @include setFont(base, 400, $color-secondary);
    text-transform: capitalize;
  }

  &__imgContainer {
    max-width: 800px;
    margin: 0 auto;

    @include lgScreenMedia {
      max-width: 600px;
    }

    @include mdScreenMedia {
      max-width: 400px;
    }
  }

  &__img {
    width: 100%;
    object-fit: contain;
    border-radius: 24px;
    margin-top: 20px;
  }

  &__contentContainer {
    padding-inline: 15%;

    @include lgScreenMedia {
      padding-inline: 5%;
    }
  }

  &__text {
    margin-top: 1vw;
    margin-bottom: 3vw;
  }

  &__subtext {
    border-left: 5px solid $color-secondary;
    margin-bottom: 3vw;
    padding: 10px 0 10px 20px;
  }
}
