@import "../../../../styles/mixins";
@import "../../../../styles/vars";

.blogHeader {
  @include flexCol(space-between);
  color: $color-white;
  border-bottom: 1px solid $color-white;
  margin-inline: 5%;
  padding-top: 8%;
  padding-bottom: 20px;

  @include mdScreenMedia {
    flex-direction: column;
    text-align: center;
    gap: 20px;
    padding-top: 12%;
  }

  @include xsmScreenMedia {
    border: none;
  }

  &__title {
    @include setFont(3.5rem, 500, $color-white);
    flex: 2;

    @include mdScreenMedia {
      font-size: 3rem;
    }

    @include smScreenMedia {
      font-size: 2rem;
    }
  }

  &__descriptionContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1.5;
    @include setFont(sm, 300, $color-white);
    letter-spacing: 1px;

    @include mdScreenMedia {
      gap: 10px;
    }
  }
}
