@import "../../../../styles/mixins";
@import "../../../../styles/vars";

.blogHeader {
  @include flexCol(space-between);
  color: $color-white;
  border-bottom: 1px solid $color-white;
  padding-bottom: 13px;

  @include mdScreenMedia {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }

  &__title {
    @include setFont(46px, 500, $color-white);
    flex: 2;
  }

  &__descriptionContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1.5;
    @include setFont(sm, 400, $color-white);
    letter-spacing: 1px;
  }
}
