@import "../../../../styles/mixins";
@import "../../../../styles/vars";

.blogHeader {
  @include flexCol(space-between, center);
  color: $color-white;
  border-bottom: 1px solid $color-white;
  padding-bottom: 20px;

  &__description {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
