@import "../../../styles/mixins";
@import "../../../styles/vars";

.homeContent {
  &__test {
    padding: 8% 11%;
  }

  &__circle {
    background-color: $color-secondary;
  }

  &__arrow {
    fill: $color-white;
  }
}
