@import "../../../../styles/mixins";
@import "../../../../styles/vars";

.blogCard {
  &__imgWrapper {
    position: relative;
  }

  &__img {
    max-width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 20px;
  }

  &__more {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 25px;
    right: 25px;
    background-color: $color-primary;
    border-radius: 100%;
    @include flexCol();
    @include setFont(20px, $color-secondary);
  }

  &:hover &__more {
    color: $color-white;
    background-color: $color-secondary;
    transition: $transition;
    cursor: pointer;
  }

  &__infoBlock {
    @include flexCol(space-between, center);
    margin: 15px 0 20px;
  }

  &__authorContainer {
    @include flexCol();
    gap: 10px;
  }

  &__avatar {
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }

  &__authorName {
    @include flexCol();
    flex-direction: column;
    gap: 5px;
    text-transform: uppercase;
  }

  &__line {
    width: 30px;
    outline: 0;
  }

  &__details {
    @include flexCol();
    flex-direction: column;
    gap: 10px;
  }

  &__category {
    color: $color-secondary;
    background-color: $color-primary;
    text-transform: uppercase;
    text-align: center;
    border-radius: 24px;
    padding: 7px 12px;
  }

  &__data {
    text-transform: uppercase;
  }

  &__title {
    text-align: left;
    min-height: 50px;
    @include setFont(xxl, 500, $color-white);

    @include mdScreenMedia {
      text-align: center;
    }
  }
}
