@import "../../../styles/mixins";
@import "../../../styles/vars";

.contactsForm {
  max-width: 700px;
  margin: 0 auto;

  @include smScreenMedia {
    @include grid(1, 6, 5px);
  }

  &__form {
    @include grid(6, 6, 25px);

    label {
      @include setFont(xsm, 300);
      margin: 0 5px;
    }
  }

  &__gridSpan3 {
    grid-column: span 3;

    @include smScreenMedia {
      grid-column: span 6;
    }
  }

  &__gridSpan2 {
    grid-column: span 2;

    @include xsmScreenMedia {
      grid-column: span 6;
    }
  }

  &__btnSubmit {
    grid-column: 3 / span 2;

    @include xsmScreenMedia {
      grid-column: 2 / span 4;
    }
  }
}
