@import "../../../styles/mixins";
@import "../../../styles/vars";

.contactsForm {
  max-width: 500px;
  margin: 0 auto;

  &__form {
    label {
      display: block;
      margin-bottom: 5px;
    }

    input,
    textarea {
      margin-bottom: 10px;
    }
  }
}
