@import "../../../styles/mixins";
@import "../../../styles/vars";

.header {
  @include flexCol();
  flex-direction: column;
  max-width: 550px;
  width: 100%;
  gap: 30px;
  text-align: center;
  margin: 65px auto 35px;

  @include lgScreenMedia {
    flex-direction: column;
    text-align: center;
  }

  &__title {
    @include setFont(100px, 600, $color-secondary);
    text-transform: uppercase;
    line-height: 4.5rem;
  }

  &__subtitle {
    @include setFont(13px, 400, $color-secondary);
    max-width: 330px;
    text-transform: uppercase;
    line-height: 20px;
    letter-spacing: 2px;
  }
}
