@import "../../../styles/mixins";
@import "../../../styles/vars";

.homeHeader {
  @include flexCol(start, start);
  gap: 50px;

  @include lgScreenMedia {
    @include flexCol();
    flex-direction: column;
    gap: 30px;
  }

  &__leftBlock {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 30px;

    @include lgScreenMedia {
      align-items: center;
      text-align: center;
    }
  }

  &__title {
    @include setFont(143px, 500);
    text-transform: uppercase;
    line-height: 115px;

    @include lgScreenMedia {
      font-size: 100px;
    }

    @include smScreenMedia {
      font-size: 25vw;
    }
  }

  &__titleThin {
    font-weight: 300;
    text-transform: uppercase;
    font-style: italic;
    line-height: 90px;
  }

  &__rotateLine {
    position: relative;
    bottom: 12px;
    display: block;
    height: 5px;
    background-color: $color-primary;
    transform: rotate(-3deg);
  }

  &__promoContainer {
    @include grid(2, 1, 20px);
    grid-template-rows: 135px;
    width: 100%;
  }

  &__stocksBlock {
    @include flexCol();
    background-color: $color-primary;
    border-radius: 24px;
  }

  &__stocks {
    @include flexCol();
    gap: 5px;
  }

  &__stocksIcon {
    width: 24px;
    height: 24px;
  }

  &__customersBlock {
    @include flexCol();
    background-color: $color-secondary;
    border-radius: 24px;
    color: $color-white;
  }

  &__number {
    @include setFont(55px, 500);
  }

  //Right block

  &__rightBlock {
    flex: 1;
    position: relative;
    width: 100%;
  }

  &__imgWrapper {
    position: relative;
    // width: 100%;
    // aspect-ratio: 1 / 1; // подбери под свою высоту картинки
    border-radius: 24px;
  }

  &__imgMain {
    width: 100%;
    height: 100%;
    // object-fit: cover;
    border-radius: 24px;
  }

  &__marqueeContainer {
    position: absolute;
    top: 20px;
    z-index: 2;
    overflow: hidden;
    white-space: nowrap;

    @include smScreenMedia {
      display: none;
    }
  }

  &__marquee {
    display: inline-block;
    padding-left: 100%;
    animation: mqrqueue 10s linear infinite;
  }

  @keyframes mqrqueue {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  &__spinnerCotainer {
    @include flexCol();
  }

  &__spinner {
    position: absolute;
    top: 120px;
    left: -50px;
    width: 120px;
    height: 120px;
    background-color: $color-primary;
    border: 10px solid $color-lightGrey;
    border-radius: 100%;
    animation: spinnerRotation 18s linear infinite;
    cursor: pointer;

    @include smScreenMedia {
      top: auto;
      left: auto;
      width: 90px;
      height: 90px;
    }
  }

  @keyframes spinnerRotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  &__circleContainer {
    @include flexCol();
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 2;
    border: 1px solid $color-secondary;
    border-radius: 50px;
    padding: 10px;

    @include smScreenMedia {
      display: none;
    }
  }

  &__circle {
    background-color: $color-secondary;
  }

  &__icon {
    fill: $color-white;
  }
}
