@import "../../../../styles/mixins";
@import "../../../../styles/vars";

.servicesCategories {
  // padding: 0 10%;

  @include lgScreenMedia {
    padding: 0 15%;
  }
  @include smScreenMedia {
    padding: 0;
  }

  &__categoryContainer {
    padding-inline: 10%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 200px;
    grid-template-areas:
      "spy trade entry entry"
      "insights insights qualityX2 stocks";

    @include lgScreenMedia {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "insights insights"
        "spy trade"
        "entry entry"
        "qualityX2 stocks";
    }

    @include smScreenMedia {
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas:
        "insights"
        "spy"
        "trade"
        "entry"
        "qualityX2"
        "stocks";
    }
  }

  &__categorySpy {
    grid-area: spy;
  }

  &__categoryTrade {
    grid-area: trade;
  }

  &__categoryEntry {
    grid-area: entry;
  }

  &__categoryInsights {
    grid-area: insights;
    background-color: $color-primary;
  }

  &__categoryQualityX2 {
    grid-area: qualityX2;
    background-color: $color-lightGrey;
  }

  &__categoryStocks {
    grid-area: stocks;
    background-color: $color-white;
  }
}
