@import "../../../../styles/mixins";
@import "../../../../styles/vars";

.pageHeadingBig {
  @include flexCol();
  flex-direction: column;
  max-width: 550px;
  width: 100%;
  gap: 15px;
  text-align: center;
  margin: 65px auto 35px;

  @include lgScreenMedia {
    flex-direction: column;
    text-align: center;
    margin: 35px auto 20px;
  }

  @include smScreenMedia {
    margin-block: 20px;
  }

  &__title {
    @include setFont(6rem, 600, $color-secondary);
    text-transform: uppercase;
    line-height: 6rem;

    @include lgScreenMedia {
      font-size: 4rem;
    }
    @include smScreenMedia {
      font-size: 2.5rem;
      line-height: 4rem;
    }
  }

  &__subtitle {
    @include setFont(13px, 400, $color-secondary);
    max-width: 330px;
    text-transform: uppercase;
    line-height: 20px;
    letter-spacing: 2px;

    @include xsmScreenMedia {
      max-width: 255px;
    }
  }
}
