@import "../../../styles/mixins";
@import "../../../styles/vars";

.twoColumnSection {
  @include flexCol();
  gap: 5vw;
  max-width: 80vw;
  margin: 0 auto;
  //--content-color: #{$color-secondary};

  @include lgScreenMedia {
    flex-direction: column;
    max-width: 65vw;
  }

  &_textWhite {
    // --content-color: #{$color-white};
    // color: var(--content-color);
    color: $color-white;
  }

  &_reverse {
    flex-direction: row-reverse;

    @include lgScreenMedia {
      flex-direction: column;
    }
  }

  &__imgWrapper {
    flex: 1;
    position: relative;
  }

  &__img {
    width: 100%;
    border-radius: 24px;
  }

  &__content {
    flex: 1;
    flex-direction: column;
    gap: 3vw;
  }

  &__sectionTitle {
    margin-bottom: 1rem;
  }

  &__title {
    // @include setFont(3.5rem, 500, var(--content-color));
    @include setFont(3.5rem, 500);
    max-width: 80%;
    line-height: 4rem;
    letter-spacing: -0.06rem;
    text-transform: capitalize;
    margin: 15px 0;

    @include lgScreenMedia {
      max-width: 100%;
      font-size: 2.5rem;
      line-height: 3rem;
    }

    @include smScreenMedia {
      font-size: 2rem;
      line-height: 2.5rem;
    }
  }

  &__titleThin {
    font-style: italic;
    font-weight: 300;
    text-transform: capitalize;
  }

  &__descriptionWrapper {
    margin-bottom: 15px;

    &_row {
      display: flex;
      column-gap: 70px;

      @include smScreenMedia {
        column-gap: 30px;
      }
    }

    &_column {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }

  &__description {
    // color: var(--content-color);
    line-height: 1.7rem;
    letter-spacing: 0.07vw;
  }
}
