@import "../../../styles/mixins";
@import "../../../styles/vars";

.twoColumnSection {
  @include flexCol();
  gap: 5vw;
  margin: 100px 0;

  @include lgScreenMedia {
    flex-direction: column;
  }

  &_reverse {
    flex-direction: row-reverse;
  }

  &__imgWrapper {
    flex: 1;
    position: relative;
  }

  &__img {
    width: 100%;
    border-radius: 24px;
  }

  //Corner images

  &__leftTop,
  &__rightTop,
  &__leftBottom,
  &__rightBottom {
    position: absolute;
    //width: 100%; // Adjust to control scaling with image
    // height: auto;
    svg {
      //width: 100%;
      // height: auto;
    }
  }

  &__leftTop {
    top: 0;
    left: 0;
    transform: translate(0%, -10%);
  }

  &__rightTop {
    top: 0;
    right: 0;
    transform: translate(20%, -20%);
  }

  &__leftBottom {
    bottom: 0;
    left: 0;
    transform: translate(0%, 17%);
  }

  &__rightBottom {
    bottom: 0;
    right: 0;
    transform: translate(20%, 20%);
  }

  &__content {
    flex: 1;
    flex-direction: column;
    gap: 3vw;

    &_textWhite {
      .twoColumnSection__title,
      .twoColumnSection__titleThin,
      .twoColumnSection__description {
        color: $color-white;
      }
    }
  }

  &__sectionTitle {
    margin-bottom: 1rem;
  }

  &__title {
    @include setFont(3.5rem, 500);
    line-height: 4rem;
    letter-spacing: -0.06rem;
    text-transform: capitalize;
    margin: 15px 0;
  }

  &__titleThin {
    font-style: italic;
    font-weight: 300;
    text-transform: capitalize;
  }

  &__descriptionWrapper {
    margin-bottom: 15px;

    &_row {
      display: flex;
      column-gap: 70px;
    }
    
    &_column {
      display: block;
    }
  }

  &__description {
    line-height: 1.7rem;
    letter-spacing: 0.07vw;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
