@import "../../../styles/mixins";
@import "../../../styles/vars";

.homeCategories {
  padding-inline: 12%;

  @include lgScreenMedia {
    padding-inline: 5%;
  }

  @include smScreenMedia {
    // padding: 0;
  }

  &__categoryContainer {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(4, 1fr);

    // @include grid(4,2, 15px);
    grid-auto-rows: 210px 210px;

    grid-template-areas:
      "spy spy return capture"
      "spy spy realtime realtime";

    @include lgScreenMedia {
      grid-template-columns: repeat(2, 1fr);

      grid-template-areas:
        "spy spy"
        "return capture"
        "realtime realtime";
    }

    @include xsmScreenMedia {
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas:
        "spy"
        "return"
        "capture"
        "realtime";
    }
  }

  // Category Spy

  &__categorySpy {
    grid-area: spy;
  }

  &__spyContainer {
    @include flexCol();
  }

  &__sizeContainer {
    @include flexCol(start, start);
    flex-direction: column;
  }

  &__investmentsIcon {
    @include svg(230px, $color-secondary);
  }

  &__size {
    @include setFont(60px, 500);
    color: $color-secondary;
  }

  &__spyTitle {
    @include setFont(70px, 500);
    text-transform: uppercase;
    color: $color-primary; /* fill color */
    text-shadow: 1px 0 $color-secondary, -1px 0 $color-secondary,
      0 1px $color-secondary, 0 -1px $color-secondary;
  }

  &__spyDescription {
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  // Category Return

  &__categoryReturn {
    grid-area: return;
  }

  &__number {
    @include setFont(60px, 700);
  }

  &__percent {
    @include setFont(38px, 500);
    vertical-align: top;
  }

  &__categoryCapture {
    grid-area: capture;
  }

  &__categoryRealtime {
    grid-area: realtime;
  }

  // &__shadowTitle {
  //   @include setFont(35px, 300);
  //   color: $color-secondary;
  //   text-shadow: 1px 0 $color-white, -1px 0 $color-white, 0 1px $color-white,
  //     0 -1px $color-white;
  // }

  &__realTimeText {
    @include setFont(xsm, 300, $color-white);
  }

  &__timeWhiteIcon {
    @include svg(30px, $color-secondary);
    position: absolute;
    top: 2vw;
    right: 2.3vw;
  }
}
