@import "../../../styles/mixins";
@import "../../../styles/vars";

.homeCategories {
  padding-inline: 12%;

  @include lgScreenMedia {
    padding-inline: 20%;
  }

  @include mdScreenMedia {
    padding-inline: 10%;
  }

  @include smScreenMedia {
    padding: 0;
  }

  &__categoryContainer {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 205px 205px;
    // grid-auto-rows: 16.1vw;
    grid-template-areas:
      "spy spy return capture"
      "spy spy realtime realtime";

    @include lgScreenMedia {
      grid-template-columns: repeat(2, 1fr);
      grid-template-areas:
        "spy spy"
        "return capture"
        "realtime realtime";
    }

    @include xsmScreenMedia {
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas:
        "spy"
        "return"
        "capture"
        "realtime";
    }
  }

  // Category Spy

  &__categorySpy {
    grid-area: spy;
  }

  &__spyContainer {
    @include flexCol(start, center);
  }

  &__investmentsIcon {
    //@include svg(230px, $color-secondary);
    max-width: 100%;
    height: 200px;
    // display: inline-block;
    // vertical-align: middle;
    // flex-shrink: 0; // чтобы не растягивалась внутри flex

    @include lgScreenMedia {
      max-width: 35%;
      height: 100px;
    }
  }

  &__spyBlock {
    display: flex;
    flex-direction: column;
  }

  &__spySize {
    @include setFont(4rem, 500);
    color: $color-secondary;

    @include lgScreenMedia {
      font-size: 3rem;
    }

    @include smScreenMedia {
      font-size: 2rem;
    }
  }

  &__spyTitle {
    @include setFont(4.5rem, 500);
    text-transform: uppercase;
    color: $color-primary; /* fill color */
    text-shadow: 1px 0 $color-secondary, -1px 0 $color-secondary,
      0 1px $color-secondary, 0 -1px $color-secondary;

    @include lgScreenMedia {
      font-size: 3rem;
    }

    @include smScreenMedia {
      font-size: 2rem;
    }
  }

  &__spyDescription {
    @include setFont(xsm, 300);
  }

  // Category Return

  &__categoryReturn {
    grid-area: return;
  }

  &__title {
    @include setFont(xsm, 400);
  }

  &__number {
    @include setFont(60px, 700);
    line-height: 50px;
  }

  &__percent {
    @include setFont(38px, 500);
    vertical-align: top;
    line-height: 20px;
  }

  &__categoryCapture {
    grid-area: capture;
  }

  &__categoryRealtime {
    grid-area: realtime;
  }

  &__realTimeText {
    @include setFont(xsm, 300, $color-white);
  }

  &__timeWhiteIcon {
    @include svg(30px, $color-secondary);
    position: absolute;
    top: 2vw;
    right: 2.3vw;
  }
}
