@import "../../../../styles/mixins";
@import "../../../../styles/vars";

.headerMenu {
  &__menuContainer {
    @include mdScreenMedia {
      //gap: 24px;
    }

    @include smScreenMedia {
      display: none;
      // gap: 30px;
    }

    &_open {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: fixed;
      height: 100vh;
      top: 0;
      right: 0;
      z-index: 3;
      max-width: 193px;
      width: 100%;
      background-color: $color-secondary;
      padding-top: 100px;
      padding-left: 20px;
    }
  }

  &__list {
    display: flex;
    gap: 20px;
    list-style-type: none;
  }

  &__link {
    @include setFont(15px, 300, $color-secondary);
    text-transform: uppercase;
    text-decoration: none;

    @include mdScreenMedia {
      // font-size: 16px;
    }

    &:hover {
      text-decoration: underline;
      transition: $transitionEaseOut;
      cursor: pointer;
    }

    &_active {
      text-decoration: underline;

      &:hover {
        cursor: default;
      }
    }
  }

  &__btnBurger {
    background: none;
    display: none;
    border: none;

    @include smScreenMedia {
      display: block;
    }
  }

  &__burgerIcon {
    @include svg(27px, $color-white);

    &:hover {
      fill: $color-primary;
      cursor: pointer;
      transition: $transition;
    }

    @include smScreenMedia {
      @include svg(24px, $color-white);
    }
  }

  &__btnClose {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10;
  }

  &__crossIcon {
    @include svg(40px, $color-white);

    &:hover {
      fill: $color-primary;
      transition: $transition;
    }
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
  }

  @include smScreenMedia {
    &__dropdown {
      display: none;
    }
  }
}
