@import "../../../../styles/mixins";
@import "../../../../styles/vars";

.headerMenu {
  //  position: relative;

  &__logo {
    filter: invert(1);
    width: 110px;

    @include lgScreenMedia {
      width: 65px;
    }

    @include smScreenMedia {
      width: 48px;
    }
  }

  /* Меню */
  &__nav {
    display: flex;
    gap: 20px;

    @include smScreenMedia {
      display: none;
    }

    &_open {
      @include flexCol(flex-start, flex-start);
      flex-direction: column;
      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      max-width: 220px;
      width: 100%;
      background-color: $color-secondary;
      padding: 100px 20px 20px;
      z-index: 3;
    }
  }

  &__nav_open &__link {
    color: $color-white;
    text-decoration: none;

    &_active {
      color: $color-primary;
    }
  }

  &__list {
    display: flex;
    gap: 20px;
    list-style: none;

    @include smScreenMedia {
      flex-direction: column;
      gap: 15px;
    }
  }

  &__link {
    @include setFont(15px, 300, $color-secondary);
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      transition: $transitionEaseOut;
      cursor: pointer;
    }

    &_active {
      text-decoration: underline;
      cursor: default;
    }
  }

  &__btnBurger {
    background: none;
    border: none;
    display: none;

    @include smScreenMedia {
      display: block;
    }
  }

  &__iconBurger {
    @include svg(27px, $color-secondary);
    // fill: $color-secondary;

    &:hover {
      fill: $color-darkGrey;
      transition: $transition;
      cursor: pointer;
    }
  }

  &__btnClose {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 4;
  }

  &__iconCross {
    @include svg(40px, $color-white);

    &:hover {
      fill: $color-primary;
      transition: $transition;
    }
  }

  &__overlay {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 2;
  }
}
