@import "../../../styles/mixins";
@import "../../../styles/vars";

.socialIcons {
  display: flex;
  gap: 15px;

  a {
    height: 44px;
  }

  &__icon {
    @include svg(25px, white, 25px, white);
    // width: 25px;
    // height: 25px;
    &:hover,
    &:active {
      fill: $color-primary;
      cursor: pointer;
    }
  }
}
