@import "../../../styles/mixins";
@import "../../../styles/vars";

.socialIcons {
  display: flex;
  gap: 15px;

  &__icon {
    @include svg(25px, $color-white);

    &:hover,
    &:active {
      fill: $color-primary;
      cursor: pointer;
    }
  }
}
