@import "../../../styles/mixins";
@import "../../../styles/vars";

.tabs {
  min-height: 200px;
  color: $color-darkGrey;

  &__labelsContainer {
    display: flex;
    width: 100%;
    gap: 50px;
    border-bottom: 1px solid $color-primary;
    margin-bottom: 20px;
    padding-bottom: 10px;

    @include lgScreenMedia {
      gap: 35px;
    }

    @include mdScreenMedia {
      gap: 25px;
      margin-bottom: 10px;
    }

    @include smScreenMedia {
      // flex-direction: column;
      flex-wrap: wrap;
      gap: 10px;
    }
  }

  &__label {
    @include setFont(xl, 400, $color-lightGrey);

    &:hover {
      cursor: pointer;
    }

    @include smScreenMedia {
      line-height: 18px;
    }

    &_active {
      color: $color-primary;
      transition: color 0.9s ease, border-color 09.3s ease;
      padding-bottom: 6px;
      cursor: default;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    line-height: 30px;

    @include mdScreenMedia {
      gap: 10px;
    }

    @include smScreenMedia {
      line-height: 20px;
      padding: 10px 0;
    }
  }

  &__title {
    @include setFont(xxl, 400, $color-white);
  }

  &__description {
    flex: 4;
    @include setFont(md, 300, $color-white);
    text-align: justify;

    @include smScreenMedia {
      text-align: left;
    }
  }
}
