@import "../../../styles/vars";
@import "../../../styles/mixins";

.mainInput {
  width: 100%;
  background: $color-white;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 10px 15px;
  transition: $transition;
  @include setFont(18px, 400);

  // @include lgScreenMedia {
  //   font-size: 16px;
  //   border-radius: 20px;
  //   padding: 10px 15px;
  // }

  // @include smScreenMedia {
  //   padding: 20px 10px;
  //   border-radius: 15px;
  //   font-size: 14px;
  // }

  &:not(&:disabled) {
    &:hover,
    &:focus,
    &:focus-within {
      border-color: $color-black;
    }
  }

  &:-webkit-autofill {
    -webkit-text-fill-color: $color-secondary;
    box-shadow: 0 0 0px 1000px $color-white inset;
  }

  &::placeholder {
    color: $color-darkGrey;
  }

  &:focus {
    outline: none;
    box-shadow: none;
    color: $color-secondary;
  }

  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset;
    box-shadow: 0 0 0px 1000px transparent inset;
    -webkit-text-fill-color: $color-secondary;
    transition: background-color 5000s ease-in-out 0s;
    background-clip: padding-box;
    -webkit-background-clip: padding-box;
  }

  &_invalid {
    border-color: $color-red;
  }

  &_textArea {
    resize: none;
  }
}
