@import "vars";
@import "mixins";

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  outline: none;
}

body {
  font-family: $font-family;
  font-size: 1rem;
  color: $color-secondary;
  background-color: $color-lightGrey;

  //  Body Scrollbar
  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background: $color-primary;
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-darkGrey;
    border-radius: 2px;
  }

  &::-moz-scrollbar {
    width: 21px;
  }

  &::-moz-scrollbar-track {
    background: $color-primary;
  }

  &::-moz-scrollbar-thumb {
    background: $color-darkGrey;
  }
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

button {
  background: transparent;
}

.center {
  text-align: center;
}

.textRed {
  color: $color-red;
}

.paddingB {
  padding-bottom: 100px;

  @include lgScreenMedia {
    padding-bottom: 50px;
  }

  @include smScreenMedia {
    padding-bottom: 30px;
  }
}

h1 {
  font-size: 2rem; // 32px
  letter-spacing: -0.07vw;
}

// h2 {
//   font-size: 1.5rem; // 24px
// }

// h3 {
//   font-size: 1.375rem; // 22px
// }

// h4 {
//   font-size: 1.25rem; //20px
// }

// h4 {
//   font-size: 1.125; // 18px
// } paddingYLg

.paddingYLg {
  padding-top: 75px;
  padding-bottom: 75px;

  @include lgScreenMedia {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @include smScreenMedia {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.btnPrimary {
  min-width: 100px;
  background-color: $color-primary;
  border-radius: 10px;
  border: none;
  padding-block: 10px;

  &:hover {
    color: $color-white;
    background-color: $color-secondary;
    transition: background-color 0.25s;
    cursor: pointer;
  }
}

.container {
  // max-width: 1100px;

  // padding-left: 10%;
  //padding-right: 10%;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding-inline: 20px;

  @include smScreenMedia {
    // padding-left: 5%;
    // padding-right: 5%;
  }
}

.containerBlackRounded {
  min-height: 500px;
  background-color: $color-secondary;
  border-radius: 89px;
}

.containerBlackTopRounded {
  min-height: 500px;
  background-color: $color-secondary;
  border-top-left-radius: 89px;
  border-top-right-radius: 89px;
}

.imgCorner {
  position: absolute;
  //width: 60px; // регулируй нужный размер
  // height: auto; // ← ДОБАВИТЬ ОБЯЗАТЕЛЬНО
  //object-fit: contain;
  z-index: 1;

  @include smScreenMedia {
    display: none;
  }
}

.leftTopCorner {
  top: 0;
  left: 0;
  max-height: 6.6rem;
}

.leftBottomCorner {
  bottom: 0;
  left: 0;
  max-height: 8.6rem;
}

.rightTopCorner {
  top: 0;
  right: 0;
  max-height: 8.6rem;
}

.rightBottomCorner {
  bottom: 0;
  right: 0;
  max-height: 8.6rem;
}

.scrollAnim {
  animation: animationScroll;
}

.animationScroll {
  transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;

  &:hover {
    transform: translate3d(0px, -20%, 0) scale3d(1, 1, 1) rotateX(1deg);
  }
}
