// media
$xsm-screen: 360px;
$sm-screen: 576px;
$md-screen: 768px;
$lg-screen: 1024px;
$xl-screen: 1280px;
$xxl-screen: 1440px;

// font
$font-family: "Inter", sans-serif;

// Transition
$transition: all 0.3s;
$transitionEaseOut: all 0.3s ease-out 0s;

// colors
$color-primary: #dbec62;
$color-secondary: #1c1c1c;
$color-white: whitesmoke;
$color-black: #050505;
$color-lightGrey: #e7e7e9;
$color-darkGrey: #c7c7c7;
$color-red: #e53935;
