// media
$xsm-screen: 360px;
$sm-screen: 576px;
$md-screen: 768px;
$lg-screen: 1024px;
$xl-screen: 1280px;
$xxl-screen: 1440px;

// font
$font-family: "Montserrat", sans-serif;

// Transition
$transition: all 0.3s;
$transitionEaseOut: all 0.3s ease-out 0s;

// colors
$color-white: #ffffff;
$color-secondary: #000000;
$color-primary: #8c52ff;
$color-lightPrimary: #b164ff;
$color-grey: #919191;
$color-lightGrey: #e5e5e5;
$color-darkGrey: #575757;
$color-red: #e53935;
