@import "../../../../../styles/mixins";
@import "../../../../../styles/vars";

.aboutStatisticTabs {
  &__title {
    @include setFont(xxl, 400, $color-white);
  }

  &__description {
    flex: 4;
    @include setFont(md, 300, $color-white);
    text-align: justify;

    @include smScreenMedia {
      text-align: left;
    }
  }
}
