@import "../../../../styles/mixins";
@import "../../../../styles/vars";

.mobileMenu {
  background-color: green;
  &__nav {
    display: flex;
    gap: 20px;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
    max-width: 220px;
    width: 100%;
    height: 100vh;
    background-color: $color-secondary;
    padding: 100px 20px 20px;
    // закрытое состояние по умолчанию
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
  }

  // отдельный модификатор для "открытого" состояния
  &__nav_open {
    @include mdScreenMedia {
      transform: translateX(0);
    }
  }

  &__list {
    display: flex;
    gap: 20px;
    list-style: none;

    @include mdScreenMedia {
      flex-direction: column;
      gap: 15px;
    }
  }

  &__link {
    @include setFont(15px, 300, $color-primary);
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &_active {
      font-weight: bold;
      cursor: default;

      &:hover {
        text-decoration: none;
      }
    }
  }

  // стили для линков внутри открытого меню
  &__navOpen &__link {
    color: $color-primary;

    &:hover {
      color: $color-primary;
      text-decoration: none;
    }

    &_active {
      color: $color-primary;
      text-decoration: none;
      cursor: default;
    }
  }

  &__overlay {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
  }
}

// &__nav {
//   display: flex;
//   gap: 20px;

//   @include smScreenMedia {
//     flex-direction: column;
//     position: fixed;
//     top: 0;
//     right: 0;
//     z-index: 3;
//     max-width: 220px;
//     width: 100%;
//     height: 100vh;
//     background-color: $color-secondary;
//     padding: 100px 20px 20px;
//     transform: translateX(100%);
//     transition: transform 0.3s ease-out;
//   }

//   &_open {
//     transform: translateX(0);
//   }
// }

// &__list {
//   display: flex;
//   gap: 20px;
//   list-style: none;

//   @include smScreenMedia {
//     flex-direction: column;
//     gap: 15px;
//   }
// }

// &__link {
//   @include setFont(15px, 300, $color-secondary);
//   text-transform: uppercase;
//   text-decoration: none;

//   &:hover {
//     text-decoration: underline;
//     transition: $transitionEaseOut;
//     cursor: pointer;
//   }

//   &_active {
//     text-decoration: underline;
//     cursor: default;
//   }
// }

// &__nav_open &__link {
//   color: $color-white;

//   &:hover {
//     color: $color-primary;
//     text-decoration: none;
//   }

//   &_active {
//     color: $color-primary;
//     text-decoration: none;
//     cursor: default;
//   }
// }
