@import "../../../styles/mixins";
@import "../../../styles/vars";

.contactsMain {
  max-width: 620px;
  width: 100%;
  //min-height: 700px;
  margin: 0 auto 100px;

  &__contactsFormContainer {
    min-height: 400px;
  }
}
