@import "../../../styles/mixins";
@import "../../../styles/vars";

.contactsMain {
  max-width: 620px;
  width: 100%;
  margin: 0 auto 50px;
  padding: 0 20px;

  @include smScreenMedia {
    margin-bottom: 25px;
  }
}
