@import "../../../styles/mixins";
@import "../../../styles/vars";

.homereturns {
  &__cards {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
  }

  &__card {
    background: lightblue;
    padding: 20px;
    text-align: center;
    font-size: 20px;
  }

  &__card1 {
    grid-row: span 2;
    grid-column: span 2;

    color: $color-secondary;
    background-color: $color-primary;
    border-radius: 24px;
    padding: 3.3vw;
  }
  &__card4 {
    grid-column: span 2;
    color: $color-white;
    background-color: $color-secondary;
    border-radius: 24px;
    padding: 3.3vw;
  }

  &__card1SPce {
    @include flexCol(space-between, strart);
    flex-direction: column;
  }
}
