@import "../../../styles/mixins";
@import "../../../styles/vars";

.footer {
  margin-top: auto;
  color: $color-white;
  background-color: $color-secondary;

  &__footerBottom {
    @include flexCol(space-between, center);
    @include setFont(14px, 300, $color-white);
    border-top: 1px solid $color-primary;
    padding: 20px 0;

    @include smScreenMedia {
      flex-direction: column;
      justify-content: center;
      gap: 10px;
    }
  }
}
