@import "../../../styles/mixins";
@import "../../../styles/vars";

.footer {
  background-color: $color-secondary;

  &__topCcontainer {
    @include flexCol(space-between, start);
    padding-top: 100px;
    padding-bottom: 50px;

    @include mdScreenMedia {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 30px;
      padding-top: 50px;
      padding-bottom: 30px;
    }
  }

  &__companyBlock {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 200px;

    @include mdScreenMedia {
      align-items: center;
    }
  }

  &__logoImg {
    max-width: 110px;
    filter: invert(1); // или invert(100%)
  }

  &__companyInfo {
    @include setFont(sm, 300, $color-white);
  }

  &__bottomContainer {
    @include flexCol(space-between);
    @include setFont(14px, 300, $color-white);
    border-top: 1px solid $color-primary;
    padding: 20px 0;

    @include smScreenMedia {
      flex-direction: column;
      justify-content: center;
      gap: 10px;
    }
  }

  &__copyright {
    @include smScreenMedia {
      text-align: center;
    }
  }
}
