@import "../../../styles/mixins";
@import "../../../styles/vars";

.arrowAnimation {
  @include flexCol();
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;

  &:hover &__icon {
    animation: arrowAnimation 0.5s ease-in-out;
  }

  &__icon {
    width: 20px;
    height: 20px;
    transform: rotate(-45deg);
    transition: $transition;
  }

  /* variant */
  &_secondaryCircle {
    background-color: $color-primary;
  }

  &_secondaryCircle &__icon {
    fill: $color-secondary;
  }

  &_primaryCircle {
    background-color: $color-secondary;
  }

  &_primaryCircle &__icon {
    fill: $color-white;
  }
}

@keyframes arrowAnimation {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 1;
  }
  30% {
    transform: rotate(-45deg) translate(12px, 2px);
    // opacity: 0;
  }
  60% {
    transform: rotate(-45deg) translate(-12px, 2px);
    opacity: 0;
  }
  100% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 1;
  }
}
