@import "../../../styles/mixins";
@import "../../../styles/vars";

.arrowAnimation {
  @include flexCol();
  width: 34px;
  height: 34px;
  // width: 2.8vw;
  // height: 2.8vw;
  border-radius: 50%;
  cursor: pointer;

  &:hover &__icon {
    animation: arrowAnimation 0.5s ease-in-out;
  }

  &__icon {
    width: 16px;
    height: 16px;
    transform: rotate(-45deg);
    transition: $transition;
  }

  /* variant */
  &_secondaryCircle {
    background-color: $color-secondary;

    .arrowAnimation__icon {
      fill: $color-white;
    }
  }

  &_primaryCircle {
    background-color: $color-primary;

    .arrowAnimation__icon {
      fill: $color-secondary;
    }
  }
}

@keyframes arrowAnimation {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 1;
  }
  30% {
    transform: rotate(-45deg) translate(12px, 2px);
    // opacity: 0;
  }
  60% {
    transform: rotate(-45deg) translate(-12px, 2px);
    opacity: 0;
  }
  100% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 1;
  }
}
