@import "../../../styles/mixins";
@import "../../../styles/vars";

.categoryCard {
  position: relative;
  @include flexCol(space-between, start);
  flex-direction: column;
  color: $color-secondary;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 24px;
  padding: 3.3vw 2.2vw;
  //padding: 20px;

  &__title {
    @include setFont(xsm, 400);
  }

  &__description {
    @include setFont(38px, 500);
  }

  &__icon {
    @include svg(30px, $color-secondary);
    position: absolute;
    top: 2vw;
    right: 2.3vw;
  }

  // &__title {
  //   @include setFont(70px, 500);
  //   text-transform: uppercase;
  //   color: $color-primary; /* fill color */
  //   text-shadow: 1px 0 $color-secondary, -1px 0 $color-secondary,
  //     0 1px $color-secondary, 0 -1px $color-secondary;
  // }

  &__shadowTitle {
    @include setFont(35px, 300);
    text-transform: uppercase;
    color: $color-secondary;
    text-shadow: 1px 0 $color-white, -1px 0 $color-white, 0 1px $color-white,
      0 -1px $color-white;
  }

  &_primary {
    background-color: $color-primary;
  }

  &_secondary {
    background-color: $color-secondary;
  }

  &_white {
    background-color: $color-white;
  }

  &_lightGrey {
    background-color: $color-lightGrey;
  }

  &_darkGrey {
    background-color: $color-darkGrey;
  }
}
