@import "../../../styles/mixins";
@import "../../../styles/vars";

.categoryCard {
  @include flexCol(space-between, start);
  flex-direction: column;
  position: relative;
  height: 100%;
  color: $color-secondary;
  background-color: $color-white;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 24px;
  padding: 3vw 2.1vw;

  @include mdScreenMedia {
    padding: 6.5vw 4vw;
  }

  &_primaryBg {
    background-color: $color-primary;
  }

  &_secondaryBg {
    background-color: $color-secondary;
  }

  &_whiteBg {
    background-color: $color-white;
  }

  &_lightGreyBg {
    background-color: $color-lightGrey;
  }

  &_darkGreyBg {
    background-color: $color-darkGrey;
  }

  &__textWhite {
    color: $color-white;
  }

  &__title {
    @include setFont(xsm, 400);

    &_large {
      @include setFont(2rem, 400);

      @include smScreenMedia {
        font-size: 1.5rem;
      }
    }

    &_primaryShadow {
      color: $color-primary;
      text-shadow: 1px 0 $color-secondary, -1px 0 $color-secondary,
        0 1px $color-secondary, 0 -1px $color-secondary;
      -webkit-text-stroke: 1px $color-secondary;
    }

    &_whiteShadow {
      // color: $color-secondary;
      // text-shadow: 1px 0 $color-white, -1px 0 $color-white, 0 1px $color-white,
      //   0 -1px $color-white;

      //  -webkit-text-stroke: 1px $color-secondary;

      color: $color-secondary;
      text-shadow: 1px 0 $color-white, -1px 0 $color-white, 0 1px $color-white,
        0 -1px $color-white;
    }

    &_lightGreyShadow {
      color: $color-lightGrey;
      // text-shadow: 1px 0 $color-secondary, -2px 0 $color-secondary,
      //   0 2px $color-secondary, 0 -1px $color-secondary;

      -webkit-text-stroke: 1px $color-secondary;
    }
  }

  // &__title {
  //   @include setFont(70px, 500);
  //   text-transform: uppercase;
  //   color: $color-primary; /* fill color */
  //   text-shadow: 1px 0 $color-secondary, -1px 0 $color-secondary,
  //     0 1px $color-secondary, 0 -1px $color-secondary;
  // }

  &__shadowTitle {
    @include setFont(35px, 300);
    text-transform: uppercase;
    color: $color-secondary;
    text-shadow: 1px 0 $color-white, -1px 0 $color-white, 0 1px $color-white,
      0 -1px $color-white;
  }

  &__icon {
    @include svg(30px, $color-secondary);
    position: absolute;
    top: 2.8vw;
    right: 2.1vw;

    @include mdScreenMedia {
      top: 6.5vw;
    }
  }

  &__description {
    @include setFont(2.25rem, 500);

    &_descriptionSmall {
      @include setFont(xsm, 300);
    }

    &_descriptionLarge {
      @include setFont(4rem, 600);
      line-height: 55px;
    }
  }
}
