@import "../../../styles/mixins";
@import "../../../styles/vars";

.servicesContent {
  margin-top: 240px;

  @include smScreenMedia {
    margin-top: 110px;
  }

  &__video {
    @include flexCol;
    max-width: 860px;
    width: 100%;
    // transform: translateY(-50%);
    // padding-top: -200px;
    border-radius: 24px;
    margin: -240px auto 0;

    position: relative;
    z-index: 2;

    @include smScreenMedia {
      margin-top: -130px;
    }
  }
}
