@import "../../../styles/mixins";
@import "../../../styles/vars";

.servicesContent {
  margin-top: 240px;

  &__video {
    @include flexCol;
    max-width: 850px;
    width: 100%;
    border-radius: 24px;
    margin: -300px auto 0;
  }
}
