@import "../../../styles/mixins";
@import "../../../styles/vars";

.servicesContent {
  margin-top: 240px;

  &__video {
    @include flexCol;
    max-width: 850px;
    width: 100%;
    transform: translateY(-50%);
    border-radius: 24px;
    margin: 0 auto;
  }

  &__blocksContainer {
    @include flexCol(center, start);
    gap: 10px;
  }

  &__blocksColumn {
    display: flex;
    flex-direction: column;
    // gap: 10px;
    color: white;
  }

  &__blocksRow {
    display: flex;
  }

  &__circle {
    background-color: $color-lightGrey;
  }

  &__arrow {
    fill: $color-black;
  }
}
