@import "../../../styles/vars";
@import "../../../styles/mixins";

.mainBtn {
  @include flexCol();
  gap: 10px;
  min-width: 150px;
  @include button($color-primary, none);
  @include setFont(15px, 300, $color-secondary);
  white-space: nowrap;
  text-align: center;
  text-transform: uppercase;
  border-radius: 50px;
  transition: $transition;
  padding: 5px 10px 5px 25px;

  &_secondaryBg {
    background: $color-secondary;
    color: $color-white;
  }

  &_circleSecondary {
    background: $color-secondary;
  }

  &_arrowSecondary {
    fill: $color-white;
  }

  &_circlePrimary {
    background: $color-primary;
  }

  &_arrowPrimary {
    fill: $color-secondary;
  }

  &__btnText {
    transition: transform 0.4s ease, opacity 0.4s ease;
  }

  &:hover &__btnText {
    animation: textAnimation 0.6s ease-in-out forwards;
  }
}

@keyframes textAnimation {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  49% {
    transform: translateY(-100%);
    opacity: 0;
  }
  50% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
