@import "../../../styles/vars";
@import "../../../styles/mixins";

.mainBtn {
  @include flexCol();
  gap: 10px;
  min-width: 150px;
  @include button($color-primary, none);
  @include setFont(15px, 300, $color-black);
  white-space: nowrap;
  text-align: center;
  text-transform: uppercase;
  border-radius: 50px;
  transition: $transition;
  padding: 5px 10px 5px 25px;

  &_secondaryBg {
    background: $color-secondary;
    color: $color-white;
  }

  &__circle {
    @include flexCol();
    width: 34px;
    height: 34px;
    border-radius: 50px;
    background: $color-secondary;
  }

  &__arrow {
    width: 16px;
    height: 16px;
    fill: $color-white;
    transform: rotate(-45deg);
    transition: $transition;
  }

  &__secondaryCircle {
    background: $color-primary;
  }

  &__secondaryArrow {
    fill: $color-black;
  }
}
